<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="splash-container">
	<div class="card ">
		<div class="card-header text-center">
			<span class="splash-description">DIF</span>
			<span class="splash-description">Atizapán</span>
		</div>
		<div class="card-body">
			<form>
				<div class="form-group">
					<input class="form-control form-control-lg" id="username" type="text" placeholder="Username" autocomplete="off">
				</div>
				<div class="form-group">
					<input class="form-control form-control-lg" id="password" type="password" placeholder="Password">
				</div>
				<div class="form-group">
					<label class="custom-control custom-checkbox">
						<input class="custom-control-input" type="checkbox"><span class="custom-control-label">Recordarme</span>
					</label>
				</div>
				{{!-- <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button> --}}
				<a  class="btn btn-primary btn-lg btn-block" href="/home"> Ingresar </a>
			</form>
		</div>
	</div>
</div>

<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->