<h1>DIF - Psicología</h1>
<p class="lead"> Selecciona para comenzar a dar de alta </p>
<ul class="list-group">
	<li class="list-group-item d-flex justify-content-between align-items-center">
		Psicólogos
		<span class="badge">
			<a href="/agregar_psicologo" class="btn btn-primary btn-lg">Agregar</a>
			<a href="/psicologos" class="btn btn-info btn-lg">Consultar</a>
		</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		Niños
		<span class="badge">
			<a href="/add" class="btn btn-primary btn-lg">Agregar</a>
			<a href="/infantes" class="btn btn-info btn-lg">Consultar</a>
		</span>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		Formatos
		<span class="badge">
			<a href="/add" class="btn btn-primary btn-lg">Agregar</a>
			<a href="/formatos" class="btn btn-info btn-lg">Consultar</a>
		</span>
	</li>
</ul>